h2 {
  text-align: center;
}

h3 {
  color: white;
  margin-left: 25px;
}

section {
  border: 5px solid lightgrey;
  background-color: grey;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

a:link{
     text-decoration: none;
     color: white;  
}

a:visted{
     text-decoration: none;
     foreground-color: white;  
}

a:hover{
     text-decoration: underline;
     foreground-color: white;
  
}

a:active{
     text-decoration: none;
     foreground-color: white;  
}

div {
  margin-left: 25px;
}
