h2 {
  text-align: center;
}

h3 {
  color: white;
  margin-left: 25px;
}

#portfolio {
  border: 5px solid lightgrey;
  background-color: grey;
  width: 900px;
  height: 900px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

a:link{
     text-decoration: none;
     color: white;  
}

a:visted{
     text-decoration: none;
     color: white;  
}

a:hover{
     text-decoration: underline;
     color: white;
  
}

a:active{
     text-decoration: none;
     color: white;  
}

#profile {
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 10px;
  float: left;
  width: 90px;
  height: 90px;
}

#latestWorks {
  float: left;
  width: 90px;
  height: 90px;
  position: relative;
  left: 140px;
}
